.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #242424;
    border-radius: 16px;
    margin: auto;
    background-color: #edede9;
}

.form-block-wrap {
    border: 1px solid #242424;
    padding: 12px;
    background-color: #f1faee;
    margin: 2px;
    border-radius: 5px;
}

.users-name-wrap {
}

.user-email-wrap {
}

.time-eat-wrap {
}

.time-eat {
}

.food-choose {
}

.order-send {
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #a8dadc;
    border-radius: 4px;
    padding: 4px 32px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 10px auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-send:hover {
    background-color: #457b9d;
}